@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: rgba(255, 255, 255, 100%);
		--foreground: rgba(10, 10, 10, 100%);

		--card: rgba(255, 255, 255, 100%);
		--card-foreground: rgba(10, 10, 10, 100%);

		--popover: rgba(255, 255, 255, 100%);
		--popover-foreground: rgba(10, 10, 10, 100%);

		--primary: rgba(246, 114, 49, 100%);
		--primary-foreground: rgba(255, 255, 255, 100%);

		--secondary: rgba(50, 149, 255, 100%);
		--secondary-foreground: rgba(255, 255, 255, 100%);

		--muted: rgba(242, 242, 242, 100%);
		--muted-foreground: rgba(115, 115, 115, 100%);

		--accent: rgba(255, 255, 255, 100%);
		--accent-foreground: rgba(10, 10, 10, 100%);

		--destructive: rgba(239, 67, 67, 100%);
		--destructive-foreground: rgba(255, 255, 255, 100%);

		--border: rgba(227, 227, 227, 100%);
		--input: rgba(227, 227, 227, 100%);
		--ring: rgba(10, 10, 10, 100%);
		--radius: 0.5rem;

		--white: rgba(255, 255, 255, 100%);
		--black: rgba(0, 0, 0, 100%);
		--sidebar-background: 0 0% 98%;
		--sidebar-foreground: 240 5.3% 26.1%;
		--sidebar-primary: 240 5.9% 10%;
		--sidebar-primary-foreground: 0 0% 98%;
		--sidebar-accent: 240 4.8% 95.9%;
		--sidebar-accent-foreground: 240 5.9% 10%;
		--sidebar-border: 220 13% 91%;
		--sidebar-ring: 217.2 91.2% 59.8%;

		--chart-1: rgba(246, 114, 49, 100%);
	}

	.dark {
		--background: rgba(10, 10, 10, 100%);
		--foreground: rgba(255, 255, 255, 100%);

		--card: rgba(10, 10, 10, 100%);
		--card-foreground: rgba(255, 255, 255, 100%);

		--popover: rgba(10, 10, 10, 100%);
		--popover-foreground: rgba(255, 255, 255, 100%);

		--primary: rgba(255, 255, 255, 100%);
		--primary-foreground: rgba(10, 10, 10, 100%);

		--secondary: rgba(38, 38, 38, 100%);
		--secondary-foreground: rgba(255, 255, 255, 100%);

		--muted: rgba(38, 38, 38, 100%);
		--muted-foreground: rgba(161, 161, 161, 100%);

		--accent: rgba(38, 38, 38, 100%);
		--accent-foreground: rgba(255, 255, 255, 100%);

		--destructive: rgba(125, 28, 28, 100%);
		--destructive-foreground: rgba(255, 255, 255, 100%);

		--border: rgba(38, 38, 38, 100%);
		--input: rgba(38, 38, 38, 100%);
		--ring: rgba(212, 212, 212, 100%);
		--radius: 0.5rem;

		--white: rgba(255, 255, 255, 100%);
		--black: rgba(0, 0, 0, 100%);
		--sidebar-background: 240 5.9% 10%;
		--sidebar-foreground: 240 4.8% 95.9%;
		--sidebar-primary: 224.3 76.3% 48%;
		--sidebar-primary-foreground: 0 0% 100%;
		--sidebar-accent: 240 3.7% 15.9%;
		--sidebar-accent-foreground: 240 4.8% 95.9%;
		--sidebar-border: 240 3.7% 15.9%;
		--sidebar-ring: 217.2 91.2% 59.8%;

		--chart-1: rgba(246, 114, 49, 100%);
	}
}

body {
	font-family: var(--font-roboto);
	font-weight: 400;
}

@layer utilities {
	.popover-content-width-same-as-its-trigger {
		width: var(--radix-popover-trigger-width);
		max-height: var(--radix-popover-content-available-height);
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
